.av {
  &__container {
    @include container;
    padding-bottom: 4rem;
  }

  header {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 2rem;

    @media only screen and (min-width: 1400px) {
      padding-top: 6rem;
      padding-bottom: 3rem;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      color: $font-color-main;
      padding-bottom: 2rem;
    }

    p {
      color: $font-color-secondary;
      font-size: 1.25rem;
      line-height: 170%;
    }
  }
}

.av-content {
  .av-section {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: $bg-color-light;
    border-radius: $border-radius;

    &__heading {
      font-size: 1rem;
      font-weight: 700;
    }

    &__select {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  .optional-separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .line {
      flex: 1;
      height: 1px;
      background-color: $border-color;
    }

    p {
      width: auto;
      margin-bottom: 0;
      padding: 0 1rem;
      color: $font-color-secondary;
      font-weight: 700;
      font-size: 0.875rem;
      letter-spacing: 0.025rem;
    }
  }

  .accordion {
    &-item {
      margin-bottom: 1.5rem;
      border: none;
    }

    &-header {
      button {
        background-color: #e2e8f0;
        color: $font-color-main;
        font-size: 1.25rem;
        font-weight: 700;
      }
    }

    &-collapse {
      background-color: $bg-color-light;
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 2rem;
    }

    .btn.btn--add {
      @include button-secondary;
      @include button-small;
      font-size: 0.875rem;
      letter-spacing: 0.025rem;
    }

    .btn.btn--tertiary {
      @include button-tertiary;
      @include button-small;
      font-size: 0.875rem;
      letter-spacing: 0.025rem;
    }
  }
}

.av-sliders {
  output {
    display: block;
    text-align: right;
    font-weight: 700;
  }
}

.av-send {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .btn {
    @include button-primary;
    @include button-large;
    width: auto;
  }
}

.av-results {
  background-color: $bg-color-light;

  &__container {
    @include container;
    padding: 4rem 0;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem 0;
    max-width: 40rem;
    margin: 0 auto;
  }

  .tab-button {
    flex: 1;
    text-align: center;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: $font-color-secondary;
    cursor: pointer;
    padding: 0.75rem 0;
    position: relative;
  }

  .tab-button.active {
    font-weight: 700;
    color: $font-color-main;
  }

  .tab-button.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 4px;
    background: $font-color-main;
    border-radius: 2px;
  }

  .tab-content {
    display: none;
    padding: 20px;
  }

  .tab-content.active {
    display: block;
  }

  &__section {
    @extend .row;
    padding-top: 4rem;
    padding-bottom: 2rem;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      padding-bottom: 1.5rem;
    }

    p {
      font-size: 0.875rem;;
      line-height: 1.6;
    }
  }

  &__wrapper {
    display: column;
    gap: 4rem;

    @media only screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__chart {
    flex: 1;
    background-color: $white;
    padding: 2rem;
    border-radius: $border-radius;
    margin-bottom: 2rem;

    @media only screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__text {
    flex: 1;
    margin-bottom: 2rem;

    @media only screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__table {
    flex: 1;
    margin-bottom: 2rem;

    @media only screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  table {
    margin-bottom: 2rem;
    font-size: 0.875rem;
  }

  thead tr th {
    background-color: $white;
  }

  tbody tr td {
    background-color: transparent;
  }
  
  &__details {
    font-size: 0.875rem;
    color: $font-color-secondary;

    .title h3 {
      font-size: 0.875rem;
      font-weight: 700;
      color: $font-color-secondary;
      padding-bottom: 0.5rem;
    }

    .list {
      font-size: 0.875rem;
    }

    .more {
      font-size: 0.875rem;
    }

    a {
      color: $color-link;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}