.av-sidebar {
  padding-left: 2rem;
  padding-right: 2rem;

  &__back {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: $color-link;
    text-decoration: none;
    margin-bottom: 2rem;
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }

  &__content {
    font-size: 0.875rem;
    color: $font-color-secondary;
    line-height: 170%;
  }
}

.av-content {
  @extend .container;
  margin-top: 7rem;

  .av-section {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: $bg-color-light;
    border-radius: $border-radius;

    &__heading {
      font-size: 1rem;
      font-weight: 700;
    }

    &__select {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  .optional-separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .line {
      flex: 1;
      height: 1px;
      background-color: $border-color;
    }

    p {
      width: auto;
      margin-bottom: 0;
      padding: 0 1rem;
      color: $font-color-secondary;
      font-weight: 700;
      font-size: 0.875rem;
      letter-spacing: 0.025rem;
    }
  }

  .accordion {
    &-item {
      margin-bottom: 1.5rem;
      border: none;
    }

    &-header {
      button {
        background-color: #e2e8f0;
        color: $font-color-main;
        font-size: 1.25rem;
        font-weight: 700;
      }
    }

    &-collapse {
      background-color: $bg-color-light;
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 2rem;
    }

    .btn.btn--add {
      @include button-secondary;
      @include button-small;
      font-size: 0.875rem;
      letter-spacing: 0.025rem;
    }

    .btn.btn--tertiary {
      @include button-tertiary;
      @include button-small;
      font-size: 0.875rem;
      letter-spacing: 0.025rem;
    }
  }
}

.av-send {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .btn {
    @include button-primary;
    @include button-large;
    width: auto;
  }
}