body {
  font-family: 'Inter', system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif !important;
}

.main-container {
  padding-bottom: 4rem;

  &__wrap {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;

    @media only screen and (min-width: 992px) {
      flex-direction: row;
    }
  }

  &__aside {
    width: 100%;

    @media only screen and (min-width: 992px) {
      max-width: 26rem;
    }

    @media only screen and (min-width: 1400px) {
      max-width: 40rem;
    }
  }

  &__main {
    flex: 1;
  }
}

.bg-light {
  background-color: $bg-color-light;
}

.fas.fa-info-circle,
.fas.fa-calculator {
  color: #475569;
}