body {
  font-family: 'Inter', system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif !important;
}

.main-container {
  padding-bottom: 4rem;
}

.bg-light {
  background-color: $bg-color-light;
}

.fas.fa-info-circle {
  color: #475569;
}