.hero {
  background-image: url("/static/images/sle-hp-bg-min.png");
  background-size: cover;
  background-position: bottom;

  &__container {
    @include container;
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    padding-bottom: 1rem;

    @media only screen and (min-width: 1400px) {
      padding-top: 8rem;
      padding-bottom: 2rem;
    }

    &--name {
      font-size: 1rem;
      color: $font-color-secondary;
      font-weight: 400;

      @media only screen and (min-width: 992px) {
        font-size: 1.25rem;
      }
    }

    &--heading {
      font-size: 2.5rem;
      color: $font-color-main;
      font-weight: 700;

      @media only screen and (min-width: 992px) {
        font-size: 4rem;
      }
    }
  }

  &__description {
    font-size: 1.25rem;
    color: $font-color-main;
    font-weight: 300;
    padding-bottom: 4rem;

    @media only screen and (min-width: 992px) {
      font-size: 1.75rem;
    }
  }

  &__scenarios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 4rem;

    @media only screen and (min-width: 992px) {
      padding-bottom: 8rem;
      flex-direction: row;
    }

    @media only screen and (min-width: 1400px) {
      padding-bottom: 12rem;
    }

    @media only screen and (min-width: 1600px) {
      padding-bottom: 16rem;
    }

    &--item {
      flex: 1;
      background-color: #fff;
      border-radius: $border-radius;
      padding: 2rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
    }

    h2 {
      font-size: 1.5rem;
      color: $font-color-main;
      font-weight: 700;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: $font-color-secondary;
      font-weight: 400;
      flex-grow: 1;
    }

    button {
      @include button-primary;
    }
  }
}

.home {
  padding-top: 6rem;

  @media only screen and (min-width: 1400px) {
    padding-top: 8rem;
  }

  &__container {
    @extend .container;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media only screen and (min-width: 992px) {
      max-width: 800px;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @media only screen and (min-width: 1400px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__paragraph {
    padding-bottom: 4rem;

    h2 {
      font-size: 2rem;
      color: $font-color-main;
      font-weight: 700;
      padding-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      color: $font-color-secondary;
      font-weight: 400;
      line-height: 160%;
    }
  }
}