#header {
  margin-top: 50px;
  }

#regions-container {
  display: flex;
  width: 100%;
  }

.region-box {
  display: block;
  width: 30vw;
  margin: 50px;
  text-align: center;
  }

.region-box img {
  width: 100%;
  }

.region-box button {
  margin: auto;
  }

.hidden-div {
  display: none;
  width: 100%;
  }

#electricity-chart {
  width: 500px;
  min-height: 600px;
  }

#hydrogen-chart {
  width: 500px;
  min-height: 600px;
  }

.basic-charts {
  display: flex;
  width: 100%;
  }

.chart-container {
  width: 50%;
  height: 400px;
  border: 1px solid #ccc;
}

.technology-charts {
  flex: 1;
  height: 500px;
  min-width: 500px;
  border: 1px solid #ccc;
  margin: 50px;
}

#tech-container {
  display: flex;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#example {
  background-color: #aff4c6;
  border: 1px solid #aff4c6;
  border-radius: 5px;
  margin: 4px;
  padding: 20px;
}

#battery-icon {
  width:10%;
  }

.scope-chart {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 4px;
  padding: 20px;
  }

.plus-minus-container {
  display: flex;
  width: 15%;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 4px;
  padding: 20px;
  font-size: 40px;
  }

.plus-minus-icon {
  width: 20%;
  }

span {
  font-weight: bold;
  }

.container__ranges {
  display: flex;
}

.container__chart {
  width: 300px;
  height: 300px;
}

.container__table {
  width: 700px;
  height: 250px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  text-align: left;
  background: #fff;
}

th {
  background-color: #f2f2f2;
  height: 30px;
}
