#header {
  margin-top: 50px;
  }

#regions-container {
  display: flex;
  width: 100%;
  }

.region-box {
  display: block;
  width: 30vw;
  margin: 50px;
  text-align: center;
  }

.region-box img {
  width: 100%;
  }

.region-box button {
  margin: auto;
  }

.hidden-div {
  display: none;
  width: 100%;
  }

#electricity-chart {
  width: 500px;
  min-height: 600px;
  }

#hydrogen-chart {
  width: 500px;
  min-height: 600px;
  }

.basic-charts {
  display: flex;
  width: 100%;
  }

.chart-container {
  width: 50%;
  height: 400px;
  border: 1px solid #ccc;
}

.show {
  display: block;
}

.technology-charts {
  flex: 1;
  height: 300px;
  min-width: 500px;
  border: 1px solid #ccc;
  margin: 50px;
}

#tech-container {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#tech-container.active {
  display: flex;
  }

#tech-container.hide {
  display: none;
  }

#example {
  background-color: #aff4c6;
  border: 1px solid #aff4c6;
  border-radius: 5px;
  margin: 4px;
  padding: 20px;
}

#battery-icon {
  width:10%;
  }

.scope-chart {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 4px;
  padding: 20px;
  }

.plus-minus-container {
  display: flex;
  width: 15%;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 4px;
  padding: 20px;
  font-size: 40px;
  }

.plus-minus-icon {
  width: 20%;
  }

span {
  font-weight: bold;
  }

.table {
  border-collapse: collapse;
  background: #fff;
  width: 60%;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 6px 8px;
  }

.table th {
    background: #f0f0f0;
    font-weight: 600;
  }

.bar-container {
  width: 200px;
  height: 14px;
  position: relative;
}

.bar {
  position: absolute;
  height: 100%;
}
