<div class="region-container">
  <div class="top-row">
    <h1>{{ title }}</h1>
    <span class="info-box" data-tooltip="{{ info }}">Mehr Infos</span>
    <img src="{{ img_source }}" alt="Region image" class="region-image" />
  </div>
  <div class="region-text">{{ text }}</div>
  <div class="keyfacts">
    {% for keyfact in keyfacts %}<span class="fact-item">{{ keyfact }}</span>{% endfor %}
  </div>
  <p class="cta-row">
    <span class="left-text">...</span>
    <span class="center-button">
      <button class="select-button"
              onclick="regionSelected(this, '{{ region.title }}')">Auswählen</button>
    </span>
  </p>
</div>
