{% if next_url != None %}
  <a class="btn btn-primary" href="{{ next_url }}" role="button">Weiter
    <svg width="16"
         height="16"
         version="1.1"
         fill="currentColor"
         viewBox="0 0 16.933 16.933"
         xmlns="http://www.w3.org/2000/svg">
      <path d="m6.1387 0.1875-1.4961 1.4961 6.7832 6.7832-6.7832 6.7832 1.4961 1.4961 8.2793-8.2793z" />
    </svg>
  </a>
{% else %}
  <a class="btn btn-primary btn-disabled" href="" role="button">
    Weiter
    <svg width="16"
         height="16"
         version="1.1"
         fill="currentColor"
         viewBox="0 0 16.933 16.933"
         xmlns="http://www.w3.org/2000/svg">
      <path d="m6.1387 0.1875-1.4961 1.4961 6.7832 6.7832-6.7832 6.7832 1.4961 1.4961 8.2793-8.2793z" />
    </svg>
  </a>
{% endif %}
