<div class="modal fade"
     id="region_change_confirmation"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Region ändern</h5>
      </div>
      <div class="modal-body">
        <p>Das Abwählen oder Ändern der Region wird die ausgewählten Gemeinden zurücksetzen. Trotzdem Fortfahren?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="abort_region_change_btn">Abbrechen</button>
        <button type="button" class="btn btn-primary" id="confirm_region_change_btn">Fortfahren</button>
      </div>
    </div>
  </div>
</div>
