form {
  label {
    font-size: 0.875rem;
    padding-bottom: 0.5rem;

    &.label--large {
      font-size: 1rem;
      font-weight: 700;
      padding-bottom: 0.75rem;
    }
  }

  select.form-select {
    font-family: 0.875rem;

    &--large {
      padding: 0.75rem 1rem;
    }
  }

  input.form-control {
    font-size: 0.875rem;
  }

  .form-check-input:checked {
    background-color: $color-active;
    border-color: $color-active;
  }
}