.navbar {

    &__wrap {
        @extend .container-fluid;
        @extend .w-100;
        @extend .position-fixed;
        @extend .bg-white;
        padding: 0 2rem;
        top: 0px;
        height: 3.75rem;
        box-shadow: $box-shadow-sm;
        z-index: 1000;
    }

}

.header-tabs {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
    padding-top: 4rem;
  
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 10rem;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    background-color: $bg-color-light;
    font-size: 0.875rem;
    font-weight: 600;
    transition: background-color 0.25s ease;
  
    a {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $font-color-main;
    }
  
    &.selected {
      background-color: $color-secondary;
      cursor: default;
    }

    &:not(.selected) {
      &:hover {
        background-color: $color-secondary;
        cursor: pointer;
      }
    }
  }

  svg {
    align-self: center;
  }
}