{% load static %}

<section class="offcanvas-view offcanvas"
         tabindex="-1"
         id="offcanvasDocumentation"
         data-bs-backdrop="false"
         aria-labelledby="offcanvasDocumentationLabel">
  <div class="offcanvas-view__wrap">
    <h2 class="offcanvas-view__title" id="offcanvasDocumentationLabel">Dokumentation</h2>
    <div class="offcanvas-view__body">
      <p>Der Szenario-Explorer wurde vom Reiner Lemoine Institut (RLI) entwickelt.</p>
      <p>
        Der Quellcode des Szenario-Explorers ist <a href="https://github.com/stadt-land-energie-projekt/sl-app"
    target="_blank">frei verfügbar</a>. Die benötigten Daten wurden mit der Daten-Pipeline <a href="https://github.com/rl-institut/apipe/" target="_blank">apipe</a> erzeugt, die ebenfalls den Prinzipien von Open Source & Open Data folgt.
      </p>
      <p>
        Dieses Tool und mehr Informationen zu unseren anderen Tools, Karten und Apps zur Energiewende finden Sie auf dem <a href="https://wam.rl-institut.de" target="_blank">WAM-Portal des RLI</a>.
      </p>
      <h3 class="offcanvas-view__subtitle">Über dieses Tool</h3>
      <p>Hier folgen weitere Detailinfos zum Tool...</p>
      <h3 class="offcanvas-view__subtitle">Weitere Informationen und Links</h3>
      <p>Hier folgen weitere Infos und nützliche Links...</p>
    </div>
  </div>
</section>
