{% extends "base.html" %}

{% load humanize %}

{% block sidebar_content %}
  <h4 class="text-center">Informationen zur Wertschöpfung</h4>
  <p class="text-center">Dies ist ein Tool zur Berechnung der direkten kommunalen Wertschöpfung durch Windenergie-,
        Freiflächen-Photovoltaik und Agri-Photovoltaik-Anlagen in brandenburgischen Gemeinden. Es liefert eine
        Einschätzung des Wertschöpfungspotenzials basierend auf den eingegebenen Daten. Der Rechner ermittelt die
        möglichen Einnahmen durch die EEG-Beteiligung, den Wind- und Solar-Euro sowie Pachteinnahmen. Es ist wichtig zu
        beachten, dass die tatsächliche Wertschöpfung deutlich höher ausfallen kann, wenn lokale Unternehmen einbezogen
        werden, Bürger-Beteiligungen erfolgen und induzierte Effekte berücksichtigt werden. Dieses Tool bietet Kommunen
        die Möglichkeit, die direkten wirtschaftlichen Vorteile des Ausbaus erneuerbarer Energien abzuschätzen und
        fundierte Entscheidungen für eine nachhaltige Entwicklung zu treffen.</p>
{% endblock sidebar_content %}
{% block content %}
<div class="container mt-1 addedValueCalc">
    <h1 class="mt-3">Wertschöpfung</h1>
{% include "added_value_calc.html" %}

  </div>
{% endblock content %}
