{% extends "base.html" %}

{% load static %}

{% block content_no_sidebar %}
  <div class="flex-container">
    {% for region in regions %}
      <c-regions title="{{ region.title }}" info="{{ region.info }}" img_source="{% static 'images/' %}{{ region.img_source }}" text="{{ region.text }}" :keyfacts="region.keyfacts">
      </c-regions>
    {% endfor %}
  </div>
  <div id="legend" class="legend"></div>
  <div id="map"></div>
  <div class="charts-container">
    <div id="chart-production" class="chart"></div>
    <div id="chart-tech" class="chart"></div>
    <div id="chart-another" class="chart"></div>
    <div id="chart-demand" class="chart"></div>
    <div id="chart-area" class="chart"></div>
    <div id="co2-info" class="chart"></div>
  </div>
  <div id="table-details" class="container mt-4">
    <h2>Detailansicht</h2>
    <div class="form-group">
      <label for="municipality_select">Gemeinde auswählen</label>
      <select id="municipality_select"
              name="municipality_select"
              multiple
              class="form-control">
        <!-- Hier werden später dynamisch die <option>-Tags eingefügt -->
      </select>
    </div>
    {% include "pages/details.html" with municipalities=municipalities %}
  </div>
  <a href="{{ next_url }}" class="btn btn-primary mt-3" id="btn_next">Hier geht's zur regionalen Energiewende</a>
{% endblock content_no_sidebar %}
{% block inline_javascript %}
  <script src="{% static 'js/case_studies.js' %}"></script>
{% endblock inline_javascript %}
