{% extends "base.html" %}

{% load static %}

{% block content_no_sidebar %}
  <div class="home" id="home-info">
    <div class="home__container">
      <div class="home__paragraph">
        <p class="right-align-links">
          <a href="#" onclick="history.back(); return false;">Zurück</a>
        </p>
        <h2>Kontakt</h2>
        <h3>Sarah Berendes (Projektleitung)</h3>
        <a href="mailto:Sarah.Berendes@rl-institut.de">Sarah.Berendes@rl-institut.de</a>
        <p>+49 (0)30 1208 434 42</p>
        <h3>Mascha Richter (Bereichsleitung)</h3>
        <a href="mailto:Mascha.Richter@rl-institut.de">Mascha.Richter@rl-institut.de</a>
        <p>+49 (0)30 1208 434 25</p>
        <p>
          Reiner Lemoine Institut gGmbH
          <br />
          Rudower Chaussee 12
          <br />
          Aufgang D
          <br />
          12489 Berlin
        </p>
        <p>
          Tel: +49 (0)30 1208 434 0
          <br />
          Fax: +49 (0)30 1208 434 99
        </p>
        <p>
          Mehr Informationen zu unseren Tools, Karten und Apps zur Energiewende finden Sie auf dem WAM-Portal des
          RLI unter <a href="https://wam.rl-institut.de" target="_blank">wam.rl-institut.de</a> .
        </p>
        <a href="https://reiner-lemoine-institut.de"
           target="_blank"
           rel="noopener noreferrer">
          <img style="max-height: 5rem"
               src="{% static 'images/logos/Logo_RLI.png' %}"
               alt="Logo RLI" />
        </a>
      </div>
    </div>
  </div>
{% endblock content_no_sidebar %}
