{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Detailansicht</h1>
    <div class="row mt-4">
      <div class="col-4">
        <form method="get" class="row g-3 align-items-center">
          {{ filter.form }}
          <button type="submit" class="btn btn-secondary btn-sm">Auswählen</button>
        </form>
      </div>
    </div>
    <div class="row mt-4">
      <table class="table w-auto">
        <thead>
          <tr>
            <th scope="col"></th>
            {% for obj in filter.qs %}
              <th class="text-end fs-5" scope="col">
                <span class="badge bg-primary me-2 mb-2">{{ obj.name }}<span class="badge-close">×</span></span>
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">Fläche</th>
            {% for obj in filter.qs %}<td class="text-end">{{ obj.area }}</td>{% endfor %}
          </tr>
          <tr>
            <td>Aufdach-PV</td>
            {% for obj in filter.qs %}<td class="text-end">{{ obj.pvroof_net }}</td>{% endfor %}
          </tr>
          <tr>
            <td>Freiflächen-PV</td>
            {% for obj in filter.qs %}<td class="text-end">{{ obj.pvground_net }}</td>{% endfor %}
          </tr>
          <tr>
            <td>Windkraft</td>
            {% for obj in filter.qs %}<td class="text-end">{{ obj.wind_net }}</td>{% endfor %}
          </tr>
        </tbody>
      </table>
      <a href="" class="text-muted"><i>Tabelle als CSV speichern</i></a>
    </div>
    <div class="mt-4">
      <a class="btn btn-primary" href="{% url 'parameters' %}" role="button">Mit Energiesystemoptimierung für diese
      Gemeinden beginnen</a>
    </div>
  </div>
{% endblock content %}
