{% load humanize %}

{% if municipalities %}
  <div class="row mt-4 g-0" id="municipality-results">
    <div class="col-3">
      <ul class="list-group rounded-0 text-truncate">
        <li class="list-group-item fw-bold bg-secondary text-white">Gemeinde</li>
        <li class="list-group-item">Fläche</li>
        <li class="list-group-item fw-bold">erneuerbare Stromerzeugung</li>
        <li class="list-group-item">Freiflächen-PV</li>
        <li class="list-group-item">Dachflächen-PV</li>
        <li class="list-group-item">Windkraft</li>
        <li class="list-group-item">Biomasse</li>
        <li class="list-group-item fw-bold">Energiebedarf (errechnet)</li>
        <li class="list-group-item">Strombedarf</li>
        <li class="list-group-item">Wärmebedarf</li>
      </ul>
    </div>
    {% for municipality in municipalities %}
      <div class="col-2 text-truncate">
        <ul class="list-group rounded-0">
          <li class="list-group-item text-end fw-bold bg-secondary text-white">{{ municipality.name }}</li>
          <li class="list-group-item text-end">{{ municipality.area|intcomma }}</li>
          <li class="list-group-item text-end fw-bold">&nbsp</li>
          <li class="list-group-item text-end">{{ municipality.capacity_pv_ground|intcomma }}</li>
          <li class="list-group-item text-end">{{ municipality.capacity_pv_roof|intcomma }}</li>
          <li class="list-group-item text-end">{{ municipality.capacity_wind|intcomma }}</li>
          <li class="list-group-item text-end">{{ municipality.capacity_bio|intcomma }}</li>
          <li class="list-group-item fw-bold">&nbsp</li>
          <li class="list-group-item text-end">{{ municipality.electricity_demand|intcomma }}</li>
          <li class="list-group-item text-end">{{ municipality.heat_demand|intcomma }}</li>
        </ul>
      </div>
    {% endfor %}
    <div class="col-1">
      <ul class="list-group rounded-0">
        <li class="list-group-item bg-secondary text-white">Einheit</li>
        <li class="list-group-item">km²</li>
        <li class="list-group-item fw-bold">kW</li>
        <li class="list-group-item">kW</li>
        <li class="list-group-item">kW</li>
        <li class="list-group-item">kW</li>
        <li class="list-group-item">kW</li>
        <li class="list-group-item fw-bold">&nbsp</li>
        <li class="list-group-item">kWh</li>
        <li class="list-group-item">kWh</li>
      </ul>
    </div>
  </div>
  <div id="csv-link">
    <a href="{% url 'explorer:details-csv' %}?{% for municipality_ids in municipalities %}id={{ municipality_ids.id }}&{% endfor %}">Als CSV herunterladen</a>
  </div>
{% else %}
  <div class="mt-3">Fügen Sie zunächst Gemeinden für die Optimierung hinzu.</div>
{% endif %}
