{% extends "base.html" %}

{% load humanize %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Detailansicht</h1>
    <div class="row mt-4">
      <div class="col-4">
        <form>
          <input type="text"
                 hx-post="{% url 'explorer:search-municipality' %}"
                 hx-target='#results'
                 hx-trigger="keyup changed delay:500ms"
                 hx-vals='{"param_string": "{{ request.get_full_path }}"}'
                 name="search"
                 class="form-control-sm mr-2"
                 placeholder="Search municipalities..." />
        </form>
        <div id="results"></div>
      </div>
    </div>
    <div class="row mt-4 g-0" id="municipality-results">
      <div class="col-3">
        <ul class="list-group rounded-0 fw-bold">
          <li class="list-group-item fw-bold">Gemeinde</li>
          <li class="list-group-item">Freiflächen-PV</li>
          <li class="list-group-item">Dachflächen-PV</li>
          <li class="list-group-item">Windkraft</li>
          <li class="list-group-item">Biomasse</li>
          <li class="list-group-item">Wasserkraft</li>
        </ul>
      </div>
      {% for municipality in municipalities %}
        <div class="col-3">
          <ul class="list-group rounded-0">
            <li class="list-group-item text-end fw-bold">
              {{ municipality.name }}
              <a href="{% url 'explorer:details' %}?{% for municipality_ids in municipalities %} {% if municipality_ids.id != municipality.id %}id={{ municipality_ids.id }}&{% endif %}{% endfor %}">entfernen</a>
            </li>
            <li class="list-group-item text-end">{{ municipality.pvground_net|intword }}</li>
            <li class="list-group-item text-end">{{ municipality.pvroof_net|intcomma }}</li>
            <li class="list-group-item text-end">{{ municipality.wind_net|intcomma }}</li>
            <li class="list-group-item text-end">{{ municipality.biomass_net|intcomma }}</li>
            <li class="list-group-item text-end">{{ municipality.biomass_net|intcomma }}</li>
          </ul>
        </div>
      {% endfor %}
    </div>
    <div class="mt-4">
      <a class="btn btn-primary" href="{% url 'parameters' %}" role="button">Mit Energiesystemoptimierung für diese
      Gemeinden beginnen</a>
    </div>
  </div>
{% endblock content %}
