{% extends "base.html" %}

{% load static %}

{% block content_no_sidebar %}
  <div class="home" id="home-info">
    <div class="home__container">
      <div class="home__paragraph">
        <p class="right-align-links">
          <a href="#" onclick="history.back(); return false;">Zurück</a>
        </p>
        <h2>Dokumentation</h2>
        <p>
          Der Szenario-Explorer wurde vom Reiner Lemoine Institut im Projekt <a href="https://reiner-lemoine-institut.de/projekt/stadt-land-energie-robustheit-und-uebertragbarkeit-von-interkommunalen-energiewendeszenarien-im-stadt-land-nexus/"
    target="_blank">Stadt-Land-Energie</a> entwickelt.
        </p>
        <p>
          Die methodische Dokumentation finden Sie <a href="#" target="_blank">hier</a> (derzeit noch im Aufbau).
        </p>
        <p>
          Der Quellcode des Szenario-Explorers ist <a href="https://github.com/stadt-land-energie-projekt/sl-app"
    target="_blank">frei verfügbar</a>. Die benötigten Daten wurden
          mit der Daten-Pipeline <a href="https://github.com/rl-institut/apipe/" target="_blank">apipe</a> erzeugt,
          die ebenfalls den Prinzipien von Open Source & Open Data folgt.
        </p>
        <p>
          Dieses Tool und mehr Informationen zu unseren anderen Tools, Karten und Apps zur Energiewende finden Sie auf
          dem <a href="https://wam.rl-institut.de" target="_blank">WAM-Portal des RLI</a>.
        </p>
        <h3>Projektinfos & Hintergrund</h3>
        <p>
          Das Projekt „Stadt-Land-Energie" (Volltitel: „Stadt-Land-Energie: Robustheit und Übertragbarkeit von
          interkommunalen Energiewendeszenarien im Stadt-Land-Nexus“) beschäftigt sich mit der Frage, wie eine
          klimaneutrale Energieversorgung zwischen Stadt und Land ermöglicht werden kann. In Zusammenarbeit mit Kommunen
          werden Ziele und Unsicherheiten identifiziert, um robuste Kriterien für die Energiewendeszenarien zu
          entwickeln. Das RLI, das ZIB, das KOWID, die Universität Osnabrück, die Otto-von-Guericke-Universität
          Magdeburg und der DStGB bündeln ihre Expertise, um komplexe Zusammenhänge greifbarer zu machen. Dazu wird ein
          interaktiver Szenario-Explorer entwickelt, der auf offenen Daten und Modellen basiert und für alle zugänglich
          ist. Er soll Entscheidungsträgern helfen, aus den berechneten Ergebnissen politische Handlungsempfehlungen
          abzuleiten und so die Lücke zwischen den Anforderungen an eine klimaneutrale Energieversorgung und deren
          Umsetzung zu schließen.
        </p>
        <p>
          Gefördert wird das Projekt vom Bundesministerium für Wirtschaft und Klimaschutz (BMWK) im Rahmen des 7.
          Energieforschungsprogramms (Förderkennzeichen: 03EI1051A).
        </p>
        <div class="home__logos">
          <img style="max-height: 5rem"
               src="{% static 'images/logos/Logo_RLI.png' %}"
               alt="Logo RLI" />
          <img style="max-height: 3rem"
               src="{% static 'images/logos/Logo_OVGU.png' %}"
               alt="Logo OVGU" />
          <img style="max-height: 7rem"
               src="{% static 'images/logos/Logo_ZIB.png' %}"
               alt="Logo ZIB" />
          <img style="max-height: 6rem"
               src="{% static 'images/logos/Logo_Kowid.png' %}"
               alt="Logo KOWID" />
          <img style="max-height: 4rem"
               src="{% static 'images/logos/Logo_UOS.svg' %}"
               alt="Logo UOS" />
          <img style="max-height: 4rem"
               src="{% static 'images/logos/Logo_DStGB.svg' %}"
               alt="Logo DStGB" />
          <img style="max-height: 9rem"
               src="{% static 'images/logos/Logo_BMWK.png' %}"
               alt="Logo BMWK" />
        </div>
      </div>
    </div>
  </div>
{% endblock content_no_sidebar %}
