{% extends "base.html" %}

{% load humanize %}

{% block sidebar_content %}
  <h4 class="text-center">Informationen zu den Szenarien</h4>
  <p class="text-center">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet..
  </p>
{% endblock sidebar_content %}
{% block content %}
  <div class="container">
    <h1 mt-3>Energiesystemoptimierung</h1>
    <div class="container text-center">
      <h3>Welche Art von Szenario möchten Sie rechnen?</h3>
    </div>
    <form hx-get="{% url 'explorer:esm_mode' %}"
          hx-target=".wizard__next"
          hx-trigger="change"
          hx-swap="innerHTML"
          hx-vals="{'robustness': document.querySelector('input[name=esm_choice_radio]:checked').value }">
      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               name="esm_choice_radio"
               id="choice_variation"
               value="1" />
        <label class="form-check-label" for="choice_variation">Variation</label>
      </div>
      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               name="esm_choice_radio"
               id="choice_robustness"
               value="2" />
        <label class="form-check-label" for="choice_robustness">Robustheit</label>
      </div>
    </form>
    <div class="row">
      <div class="col">
        <div class="container-fluid py-5">
          <p class="col-md-8 fs-5">
            <strong>Variation Erneuerbare Energie</strong>
            <br />
            Wofür eignet sich dieses Szenario?
            <br />
            <ul>
              <li>Sie wollen individuelle Ergebnisse für Ihre Gemeinde</li>
              <li>Sie wollen individuelle Ergebnisse für 2 oder mehr Gemeinden, die miteinander vernetzt sind</li>
              <li>Sie wollen viel selbst einstellen</li>
              <li>Sie wollen herausfinden, wieviel EE in einer oder mehreren Gemeinden möglich ist</li>
            </ul>
            Was ist fest vorgegeben?
            <br />
            <ul>
              <li>Komponenten des Energiesystems, z.B. Wärmeerzeuger</li>
            </ul>
            Was können Sie selbst einstellen?
            <br />
            <ul>
              <li>Kapazitäten Erneuerbare</li>
            </ul>
            Was wird hier optimiert?
            <br />
            <ul>
              <li>Der Betrieb, also der Einsatz aller von Ihnen eingestellten Komponenten für jede Stunde des Jahres</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="col">
        <div class="container-fluid py-5">
          <p class="col-md-8 fs-5">
            <strong>Szenario: Robust</strong>
            <br />
            Wofür eignet sich dieses Szenario?
            <br />
            <ul>
              <li>Sie wollen optimierte Ergebnisse für Ihre Gemeinde</li>
              <li>Sie wollen optimierte Ergebnisse für 2 oder mehr Gemeinden, die miteinander vernetzt sind</li>
              <li>Sie wollen ein schnelles Ergebnis mit wenigen eigenen Einstellungen</li>
              <li>Sie wollen herausfinden, was der optimale EE-Mix in einer oder mehreren Gemeinden möglich ist</li>
            </ul>
            Was ist fest vorgegeben?
            <br />
            <ul>
              <li>Alles, da die Ergebnisse vorbereitet sind</li>
            </ul>
            Was können Sie selbst einstellen?
            <br />
            <ul>
              <li>Nichts</li>
            </ul>
            Was wird hier optimiert?
            <br />
            <ul>
              <li>
                Hier haben wir für Sie bereits den optimalen Kraftwerkspark sowie Einsatz bestimmt und für Sie ausgerechnet, wie robust die Ergebnisse sind...
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
