{% extends "base.html" %}

{% load static %}

{% block content_no_sidebar %}
  <div class="hero">
    <div class="hero__container">
      <h1 class="hero__title">
        <span class="hero__title--name">Stadt-Land-Energie</span>
        <span class="hero__title--heading">Szenario-Explorer</span>
      </h1>
      <p class="hero__description">Interkommunale Energiewendeszenarien und Wertschöpfung im Stadt-Land-Nexus</p>
      <div class="hero__scenarios">
        <div class="hero__scenarios--item">
          <h2>
            Robuste Szenarien der Energiewende
          </h2>
          <p>
            Die Optimierung von regionalen Energiewendeszenarien dient Stakeholdern als Entscheidungsgrundlage für die
            Gestaltung eines zukünftig klimaneutralen Energiesystems. Gekoppelt mit einer Robustheitsanalyse bietet der
            Szenario-Explorer neben der kostenoptimalen Basislösung ein ganzes Portfolio an Lösungen, die wir durch
            Robustheitsanalysen für Sie ermittelt haben. Anhand zwei Fallstudien für die Regionen Oderland-Spree und
            Kiel, können Sie unsere berechneten Energiewendeszenarien erforschen und die Anwendungsmöglichkeiten des
            Szenario-Explorers testen.
          </p>
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="go_to_esys" class="btn btn-primary">
              Start
            </button>
          </form>
        </div>
        <div class="hero__scenarios--item">
          <h2>Wertschöpfungsrechner</h2>
          <p>
            Welchen finanziellen Mehrwert hat die Energiewende für Ihre Kommune?
          </p>
          <p>
            Mit dem Wertschöpfungsrechner lässt sich ganz einfach das direkte kommunale Wertschöpfungspotential durch
            erneuerbare Energien abschätzen. Geben Sie die gemeindespezifische Potenzialflächen für erneuerbare Energien
            ein und ermitteln Sie die mögliche kommunale Wertschöpfung auf Basis der EEG-Beteiligung, der Pachteinnahmen
            sowie lokaler Besonderheiten, wie dem Wind- und Solar-Euro.
          </p>
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="go_to_added_value" class="btn btn-primary">Start</button>
          </form>
        </div>
      </div>
      <div class="hero__more">
        <a href="#home-info">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
            <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
          </svg>
          <span>Hintergrund</span>
        </a>
      </div>
    </div>
  </div>
  <div class="home" id="home-info">
    <div class="home__container">
      <div class="home__paragraph">
        <h2>Energieversorgung Stadt-Land: Eine Herausforderung?</h2>
        <p>
          Der Stadt-Land-Nexus beschreibt die interkommunale Beziehung zwischen städtischen Räumen und dem sie
          umgebenden ländlichen Raum. Diese Regionen sind durch ihre wirtschaftliche Funktion, ihre Lage und ihre
          Bevölkerungsdichte charakterisiert. Während städtische Räume eine hohe Bevölkerungsdichte und den damit
          verbundenen hohen Energiebedarf aufweisen, liegt die Aufgabe des Ausbaus erneuerbarer Energien aufgrund der
          stark begrenzten Flächen in den Städten meist bei den ländlichen Regionen. Die ländlichen Regionen bietet oft
          die notwendigen Ressourcen, stehen jedoch vor eigenen Herausforderungen bei der Energieversorgung und
          -nutzung. Verschiedene gesetzliche Vorgaben und begrenzte Spielräume machen es Entscheidungstragenden schwer,
          den Ausbau erneuerbarer Energien optimal zu gestalten. Unter Berücksichtigung dieser Herausforderungen und mit
          Hilfe von Optimierung lassen sich Synergien im Stadt-Land-Nexus identifizieren, gemeinsame Strategien
          entwickeln und regionale Ressourcen optimal nutzen, sodass Kommunen durch abgestimmte Klimaschutz- und
          Energiepläne eine nachhaltige und resiliente Energieversorgung gestalten können.
        </p>
        <p>
          Eine gezielte Analyse durch regionale Energiewendeszenarien eröffnet neue Perspektiven für eine effizientere
          interkommunale Zusammenarbeit. Der Szenario-Explorer kann durch einfache Darstellung einen (detaillierten)
          Einblick in Energiebedarf, Verbrauch und Potenziale von Kommunen innerhalb des Stadt-Land-Spannungsfelds
          ermöglichen.
        </p>
      </div>
      <div class="home__paragraph">
        <h2>Projektinfos & Hintergrund</h2>
        <p>
          Das Projekt „Stadt-Land-Energie" (Volltitel: „Stadt-Land-Energie: Robustheit und Übertragbarkeit von
          interkommunalen Energiewendeszenarien im Stadt-Land-Nexus“) beschäftigt sich mit der Frage, wie eine
          klimaneutrale Energieversorgung zwischen Stadt und Land ermöglicht werden kann. In Zusammenarbeit mit Kommunen
          werden Ziele und Unsicherheiten identifiziert, um robuste Kriterien für die Energiewendeszenarien zu
          entwickeln. Das RLI, das ZIB, das KOWID, die Universität Osnabrück, die Otto-von-Guericke-Universität
          Magdeburg und der DStGB bündeln ihre Expertise, um komplexe Zusammenhänge greifbarer zu machen. Dazu wird ein
          interaktiver Szenario-Explorer entwickelt, der auf offenen Daten und Modellen basiert und für alle zugänglich
          ist. Er soll Entscheidungsträgern helfen, aus den berechneten Ergebnissen politische Handlungsempfehlungen
          abzuleiten und so die Lücke zwischen den Anforderungen an eine klimaneutrale Energieversorgung und deren
          Umsetzung zu schließen.
        </p>
        <p>
          Gefördert wird das Projekt vom Bundesministerium für Wirtschaft und Klimaschutz (BMWK) im Rahmen des 7.
          Energieforschungsprogramms (Förderkennzeichen: 03EI1051A).
        </p>
      </div>
      <div class="home__logos">
        <img class="" src="{% static 'images/logos/Logo_RLI.png' %}" alt="Logo RLI"/>
        <img class="" src="{% static 'images/logos/Logo_OVGU.png' %}" alt="Logo OVGU"/>
        <img class="" src="{% static 'images/logos/Logo_ZIB.png' %}" alt="Logo ZIB"/>
      </div>
      <div class="home__logos">
        <img class="" src="{% static 'images/logos/Logo_Kowid.png' %}" alt="Logo KOWID"/>
        <img class="" src="{% static 'images/logos/Logo_DStGB.svg' %}" alt="Logo DStGB"/>
        <img class="" src="{% static 'images/logos/Logo_BMWK.png' %}" alt="Logo BMWK"/>
      </div>
    </div>
  </div>
{% endblock content_no_sidebar %}
