{% extends "base.html" %}

{% load static %}

{% block content_no_sidebar %}
  <div class="hero">
    <div class="hero__container">
      <h1 class="hero__title">
        <span class="hero__title--name">Stadt-Land-Energie</span>
        <span class="hero__title--heading">Szenario-Explorer</span>
      </h1>
      <p class="hero__description">Interkommunale Energiewendeszenarien und Wertschöpfung im Stadt-Land-Nexus</p>
      <div class="hero__scenarios">
        <div class="hero__scenarios--item">
          <h2>
            Robuste Energiewendeszenarien
          </h2>
          <p>
            Text für regionale, robuste Energiewendeszenarien Text für regionale, robuste Energiewendeszenarien Text
            für regionale, robuste Energiewendeszenarien
          </p>
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="go_to_esys" class="btn btn-primary">
              Start
            </button>
          </form>
        </div>
        <div class="hero__scenarios--item">
          <h2>Wertschöpfungsrechner</h2>
          <p>
            Text für Wertschöpfungsrechner Text für Wertschöpfungsrechner Text für Wertschöpfungsrechner Text für
            Wertschöpfungsrechner Text für Wertschöpfungsrechner Text für Wertschöpfungsrechner
          </p>
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="go_to_added_value" class="btn btn-primary">Start</button>
          </form>
        </div>
      </div>
      <div class="hero__more">
        <a href="#home-info">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
            <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
          </svg>
          <span>Hintergrund</span>
        </a>
      </div>
    </div>
  </div>
  <div class="home" id="home-info">
    <div class="home__container">
      <div class="home__paragraph">
        <h2>Stadt-Land-Nexus</h2>
        <p>
          Städte und ihre Regionen sind miteinander verflochten und in ihrer Beziehung in vielen Fällen voneinander
          abhängig. Vor allem, weil sie über unterschiedliche und häufig komplementäre Ressourcen verfügen.
          Dazu gehören Menschen, Waren, Dienstleistungen, Geld oder auch Umweltleistungen. Als Stadt-Land-Nexus
          bezeichnet man die wechselseitigen Ströme dieser Ressourcen zwischen Städten und ihren umliegenden Gebieten.
        </p>
      </div>
      <div class="home__paragraph">
        <h2>Herausforderungen im Bindeglied zwischen urban und rural</h2>
        <p>
          Die unterschiedlichen, teils gegenläufigen Rahmenbedingungen und Handlungsspielräume verschiedener
          Regionen stellen Städte und Gemeinden vor Herausforderungen in der Klimaschutz-Frage. Besonders im
          Stadt-Land-Bezug gibt es ein interkommunales Spannungsfeld. Das betrifft sozio-demographische,
          wirtschaftliche sowie raum- und siedlungsstrukturelle Gegebenheiten und damit auch für die Energiewende
          entscheidende Rahmenbedingungen. Ein oft genutzter Begriff für diese unterschiedlichen Rahmenbedingungen
          ist das „Stadt-Land-Gefälle“.
          Wie können trotz alldem zukunftsfähige und regional verzahnte Klimaschutz- und Energiekonzepte entwickelt werden?
          Welche eigenen Impulse und innovativen Ansätze können die ins Stocken geratene Energiewende auf
          übergeordneter Ebene vorantreiben? Das sind die Fragen, auf die es nun Antworten zu finden gilt.
        </p>
      </div>
      <div class="home__paragraph">
        <h2>Projektinfos & Hintergrund</h2>
        <p>
          Hier kommt Text
        </p>
      </div>
    </div>
  </div>
{% endblock content_no_sidebar %}
