{% extends "base.html" %}

{% load humanize %}

{% block sidebar_content %}
  <h4 class="text-center">Informationen zu den Variation Optimierungen</h4>
  <p class="text-center">{% lorem %}</p>
{% endblock sidebar_content %}
{% block content %}
  <div class="container">
    <h1 mt-3>Energiesystemoptimierung Variation</h1>
    <div class="row">
      <h2>Parameter für die Energiesystemoptimieung festlegen</h2>
    </div>
    {% if municipalities %}
      <div class="row mt-4 g-0" id="municipality-results">
        <div class="col-3">
          <div class="rounded-0text-start">
            <div class="h-55px table-cell fw-bold bg-secondary text-white">Parameter</div>
            <div class="h-55px table-cell">Energiebedarfsdeckung in %:</div>
            <div class="h-55px table-cell">Jährlicher Energiebedarf in MWh:</div>
            <div class="h-270px table-cell">Phtotovoltaik</div>
            <div class="h-270px table-cell">Windkraft</div>
            <div class="h-155px table-cell">Wasserkraft</div>
            <div class="h-155px table-cell">Biomasse</div>
            <div class="h-155px table-cell">Speicherkapazität</div>
          </div>
        </div>
        {% for municipality in municipalities %}
          <div class="col-3">
            <div class="rounded-0 h-100px text-start">
              <div class="h-55px  table-cell fw-bold bg-secondary text-white">{{ municipality.name }}</div>
              <div class="h-55px table-cell">
                <input type="number"
                       id="{{ municipality.id }}-coverage"
                       class="form-control form-control-sm"
                       aria-describedby="inputgoal"
                       value="75" />
              </div>
              <div class="h-55px table-cell">
                <input type="number"
                       id="{{ municipality.id }}-energy-need"
                       class="form-control form-control-sm"
                       aria-describedby="inputgoal"
                       value="75" />
              </div>
              <!-- PV -->
              <div class="h-270px table-cell">
                <fieldset class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="pv-{{ municipality.id }}-selection"
                           id="pv-{{ municipality.id }}-noLimitRadio"
                           checked />
                    keine Obergrenze angeben
                  </div>
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="pv-{{ municipality.id }}-selection"
                           id="pv-{{ municipality.id }}-MW" />
                    <!-- This is the additional input field right next to the second radio button -->
                    <input type="text"
                           id="pv-{{ municipality.id }}-MW"
                           class="js-range-slider"
                           value=""
                           data-min="{{ sliders_config.s_w_1.min|stringformat:'s' }}"
                           data-max="{{ sliders_config.s_w_1.max|stringformat:'s' }}"
                           data-from="{{ sliders_config.s_w_1.from|stringformat:'s' }}"
                           data-step="{{ sliders_config.s_w_1.step|stringformat:'s' }}" />
                    <label class="form-check-label d-inline-block" for="maxOutputRadio">
                      MW max. Gesamtleistung <i>(aktuell: 0,12 MW)</i>
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="pv-{{ municipality.id }}-selection"
                           id="pv-{{ municipality.id }}-area" />
                    <!-- This is the additional input field right next to the second radio button -->
                    <input type="text"
                           id="maxOutputValue"
                           class="form-control d-inline-block w-auto form-control-sm"
                           value="0,27" />
                    <label class="form-check-label d-inline-block"
                           for="pv-{{ municipality.id }}-area">
                      km² max. Flächenverbrauch <i>(1,73 km² ausgewiesen, davon derzeit 0,27 km² belegt)</i>
                    </label>
                  </div>
                </fieldset>
              </div>
              <!-- Wind -->
              <div class="h-270px table-cell">
                <fieldset class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="wind-{{ municipality.id }}-selection"
                           id="wind-{{ municipality.id }}-noLimitRadio"
                           checked />
                    keine Obergrenze angeben
                  </div>
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="wind-{{ municipality.id }}-selection"
                           id="wind-{{ municipality.id }}-MW" />
                    <!-- This is the additional input field right next to the second radio button -->
                    <input type="text"
                           id="wind-{{ municipality.id }}-MW"
                           class="form-control d-inline-block w-auto form-control-sm"
                           value="0,12" />
                    <label class="form-check-label d-inline-block" for="maxOutputRadio">
                      MW max. Gesamtleistung <i>(aktuell: 0,12 MW)</i>
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="wind-{{ municipality.id }}-selection"
                           id="wind-{{ municipality.id }}-area" />
                    <!-- This is the additional input field right next to the second radio button -->
                    <input type="text"
                           id="maxOutputValue"
                           class="form-control d-inline-block w-auto form-control-sm"
                           value="0,27" />
                    <label class="form-check-label d-inline-block"
                           for="pv-{{ municipality.id }}-area">
                      km² max. Flächenverbrauch <i>(1,73 km² ausgewiesen, davon derzeit 0,27 km² belegt)</i>
                    </label>
                  </div>
                </fieldset>
              </div>
              <!-- Hydro Power -->
              <div class="h-155px table-cell">
                <fieldset class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="hydro-{{ municipality.id }}-selection"
                           id="hydro-{{ municipality.id }}-noLimitRadio"
                           checked />
                    keine Obergrenze angeben
                  </div>
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="hydro-{{ municipality.id }}-selection"
                           id="hydro-{{ municipality.id }}-MW" />
                    <!-- This is the additional input field right next to the second radio button -->
                    <input type="text"
                           id="hydro-{{ municipality.id }}-MW"
                           class="form-control d-inline-block w-auto form-control-sm"
                           value="0,12" />
                    <label class="form-check-label d-inline-block" for="maxOutputRadio">
                      MW max. Gesamtleistung <i>(aktuell: 0,12 MW)</i>
                    </label>
                  </div>
                </fieldset>
              </div>
              <!-- Biomasse -->
              <div class="h-155px table-cell">
                <fieldset class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="biomass-{{ municipality.id }}-selection"
                           id="biomass-{{ municipality.id }}-noLimitRadio"
                           checked />
                    keine Obergrenze angeben
                  </div>
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="biomass-{{ municipality.id }}-selection"
                           id="biomass-{{ municipality.id }}-MW" />
                    <!-- This is the additional input field right next to the second radio button -->
                    <input type="text"
                           id="biomass-{{ municipality.id }}-MW"
                           class="form-control d-inline-block w-auto form-control-sm"
                           value="0,12" />
                    <label class="form-check-label d-inline-block" for="maxOutputRadio">
                      MW max. Gesamtleistung <i>(aktuell: 0,12 MW)</i>
                    </label>
                  </div>
                </fieldset>
              </div>
              <!-- Batteries -->
              <div class="h-155px table-cell">
                <fieldset class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="battery-{{ municipality.id }}-selection"
                           id="battery-{{ municipality.id }}-noLimitRadio"
                           checked />
                    keine Obergrenze angeben
                  </div>
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="battery-{{ municipality.id }}-selection"
                           id="battery-{{ municipality.id }}-MW" />
                    <!-- This is the additional input field right next to the second radio button -->
                    <input type="text"
                           id="battery-{{ municipality.id }}-MW"
                           class="form-control d-inline-block w-auto form-control-sm"
                           value="0,12" />
                    <label class="form-check-label d-inline-block" for="maxOutputRadio">
                      MW max. Gesamtleistung <i>(aktuell: 0,12 MW)</i>
                    </label>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="col-3">
          <div class="rounded-0text-start">
            <div class="h-55px table-cell fw-bold bg-secondary text-white">Einordnung</div>
            <div class="h-55px table-cell">Das sind 5 WEA</div>
            <div class="h-55px table-cell">placeholder</div>
            <div class="h-270px table-cell">placeholder</div>
            <div class="h-270px table-cell">placeholder</div>
            <div class="h-155px table-cell">placeholder</div>
            <div class="h-155px table-cell">placeholder</div>
            <div class="h-155px table-cell">placeholder</div>
          </div>
        </div>
        <div class="col-3">
          <div class="rounded-0text-start">
            <div class="h-55px table-cell fw-bold bg-secondary text-white">Mehr Hintergrundinfos</div>
            <div class="h-55px table-cell">Das Potenzial ergibt sich aus ...</div>
            <div class="h-55px table-cell">placeholder</div>
            <div class="h-270px table-cell">placeholder</div>
            <div class="h-270px table-cell">placeholder</div>
            <div class="h-155px table-cell">placeholder</div>
            <div class="h-155px table-cell">placeholder</div>
            <div class="h-155px table-cell">placeholder</div>
          </div>
        </div>
      </div>
      <br />
      <i>Je nach Anzahl der Gemeinden dauert eine Modellierung & Optimierung mehrere Minuten.</i>
    {% endif %}
  </div>
  <script>
    $(document).ready(function() {
      $('.js-range-slider').ionRangeSlider({
        onChange: function(data) {
          // Called every time handle position is changed
          console.log(data.from);
        },
      });
    });
  </script>
{% endblock content %}
