{% load static i18n compress %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Stadt-Land-Energie Webapp
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="The (django) webapp for the scenario-explorer of the Stadt-Land-Energie project" />
    <meta name="author" content="Finn Hees" />
    <meta name="author" content="Hendrik Huyskens" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      {% compress css %}
        <link rel="stylesheet"
              type="text/x-scss"
              href="{% static 'scss/app.scss' %}" />
        <link href="{% static 'css/project.css' %}" rel="stylesheet" />
        <link href="{% static 'vendors/bootstrap/scss/bootstrap.scss' %}"
              rel="stylesheet"
              type="text/x-scss" />
      {% endcompress %}
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      {% compress js %}
        <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
        <script defer src="{% static 'js/project.js' %}"></script>
        <script defer src="{% static 'vendors/matomo/matomo.js' %}"></script>
        <!-- HTMX -->
        <script defer src="{% static 'vendors/htmx/js/htmx.js' %}"></script>
        <script src="{% static 'vendors/jquery/js/jquery.min.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
  </head>
  <body class="d-flex flex-column h-100"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Stadt-Land-Energie</a>
          <div class="collapse navbar-collapse d-flex justify-content-end"
               id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'explorer:map' %}">Map <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'explorer:details' %}">Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'explorer:parameters' %}">Energiesystemoptimierung</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:detail' request.user.pk %}">{% translate "My Profile" %}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
              {% else %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <section class="wizard">
      <div class="wizard__wrap">
        <div class="wizard__back">
          <button type="button" id="menu_previous_btn" hidden>
            <svg width="16"
                 height="16"
                 version="1.1"
                 fill="currentColor"
                 viewBox="0 0 16.933 16.933"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="m10.794 16.748 1.4961-1.4961-6.7832-6.7832 6.7832-6.7832-1.4961-1.4961-8.2793 8.2793z" />
            </svg>
            <span>Zurück</span>
          </button>
        </div>
        <div class="wizard__main">
          <ul class="wizard__list nav nav-tabs" role="tablist">
            <li id="step_1_start"
                class="wizard__list-item active"
                role="presentation">
              <span class="wizard__list-number">1</span>
              <span class="wizard__list-text">Start</span>
            </li>
            <li id="step_2_today" class="wizard__list-item" role="presentation">
              <span class="wizard__list-number">2</span>
              <span class="wizard__list-text">Situation heute</span>
            </li>
            <li id="step_3_details" class="wizard__list-item" role="presentation">
              <span class="wizard__list-number">3</span>
              <span class="wizard__list-text">Detailansicht/Vergleiche Gemeinden</span>
            </li>
            <li id="step_4_mode" class="wizard__list-item" role="presentation">
              <span class="wizard__list-number">4</span>
              <span class="wizard__list-text">Auswahl ESM Modus</span>
            </li>
            <li id="step_5_parameters" class="wizard__list-item" role="presentation">
              <span class="wizard__list-number">5</span>
              <span class="wizard__list-text">ESM Konfiguration</span>
            </li>
            <li id="step_6_results" class="wizard__list-item" role="presentation">
              <span class="wizard__list-number">6</span>
              <span class="wizard__list-text">Ergebnisse</span>
            </li>
          </ul>
        </div>
        <div class="wizard__next">
          <button type="button" id="menu_next_btn" class="button button--secondary">
            <span>Weiter</span>
            <svg width="16"
                 height="16"
                 version="1.1"
                 fill="currentColor"
                 viewBox="0 0 16.933 16.933"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="m6.1387 0.1875-1.4961 1.4961 6.7832 6.7832-6.7832 6.7832 1.4961 1.4961 8.2793-8.2793z" />
            </svg>
          </button>
        </div>
      </div>
    </section>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
    <footer class="bg-light text-center text-lg-start mt-auto">
      <div class="container p-2">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">
              <a href="#!" class="text-muted me-4">Impressum</a>
              <a href="#!" class="text-muted me-4">Datenschutzhinweise</a>
              <a href="#!" class="text-muted me-4">Über uns</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
