#header {
  margin-top: 50px;
  }

#regions-container {
  display: flex;
  width: 100%;
  }

.region-box {
  display: block;
  width: 30vw;
  margin: 50px;
  text-align: center;
  }

.region-box img {
  width: 100%;
  }

.region-box button {
  margin: auto;
  }

.hidden-div {
  display: none;
  width: 100%;
  }

#electricity-chart {
  width: 500px;
  min-height: 600px;
  }

#hydrogen-chart {
  width: 500px;
  min-height: 600px;
  }

.basic-charts {
  display: flex;
  width: 100%;
  }

.chart-container {
  width: 50%;
  height: 400px;
  border: 1px solid #ccc;
}

#cost-capacity-chart {
  width: 500px;
  height: 400px;
  border: 1px solid #ccc;
}

#tech-charts {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#tech-charts.active {
  display: flex;
  gap: 20px;
}

#tech-button {
  display: flex;
  justify-content: flex-start;
  }
